# Contentful Configuration
# https://app.contentful.com/spaces/[SPACE_ID]/api/keys

# Space ID
CONTENTFUL_SPACE_ID=

# Content Delivery API - Access Token
CONTENTFUL_ACCESS_TOKEN=

# Contentful Host (任意 / プレビュー時は preview.contentful.com)
# CONTENTFUL_HOST=
