.postsGrid {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: max(1.5vw, 15px);
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  h2 {
    margin-top: -2px;
    font-size: var(--fontSize-2);
    font-family: "neue-haas-grotesk-display", "Helvetica Neue", Arial,
      sans-serif;
    font-weight: var(--fontWeight-bold);
    text-align: right;
    transform: none;
  }
  h3 {
    margin-top: 0;
    font-size: var(--fontSize-1);
    font-weight: var(--fontWeight-normal);
    transform: scaleY(1.6) translateY(-2px);
    transform-origin: 0% 0%;
    .title {
      display: flex;
      gap: 0.5vw;
      @media (max-width: 425px) {
        gap: 7px;
      }
      .day {
        flex-shrink: 0;
      }
    }
  }
  ol {
    margin-top: -2px;
    margin-bottom: 25px;
    max-width: 16vw;
    @media (max-width: 425px) {
      max-width: 35vw;
    }
  }
}
